<div class="center jumbotron">
  <h1>ようこそMoreHelpへ</h1>

  <h2>
    MoreHelpは、お気軽にお悩み相談ができるサイトです。<br>
    さっそく登録して、お悩みを相談しましょう。
  </h2>

  <%= link_to "登録する", new_user_path , class: "btn btn-lg btn-primary" %>
</div>

